//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

$spot-color: $color-blue !default;

.Article {
  @include siteContainer;

  // TEMP
  h4 {
    padding: 16px 0;
  }

}

.Article-header,
.Article-section,
.Article-footer {
  padding: scaleGrid(6) 5% 0 5%;
  max-width: 900px;
  margin: 0 auto;;
}

.Article-header {
  
}

.Article-sectionTitle {
  padding-bottom: $su-lg2;
}

.Article-sectionSubTitle {
  padding-bottom: $su-base;
  padding-top: $su-lg1;
}

.Article-sectionSubText {
  font-family: $tu-ParagraphFont;
  font-size: $tuSize-sm1;
  text-transform: uppercase;
  color: $cu-border-dark;
  font-weight: 400;

// TEMP
  padding-bottom: $su-lg2 !important;
  padding-top: 0 !important;

}


.Article-image {
  padding-bottom: $su-lg2;

  img {
    cursor: pointer;
  }

  figcaption {
    color: $cu-Paragraph;
    font-size: $tuSize-sm1;
  }

} 

.Article-image--center {
  max-width: 900px;
  margin: 0 auto;
}

.Article-feature {
  padding: $su-lg1;
  margin-bottom: $su-lg4;
}

.figma_badge {
  text-align: center;
  display: block;
  img {
    margin: 0 auto;
    max-width: scaleGrid(30);
  }
}


.Article-footer {
  padding-bottom: scaleGrid(7);
  padding-top: scaleGrid(7);
  margin-top: scaleGrid(4);
  border-top: 1px solid $spot-color;
  max-width: 100%;
}

.Article-section--fullWidth {
  max-width: 100%;
}