//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

$spot-color: $color-blue !default;

.Article {
  @include siteContainer;

  h3 {
    padding: $su-lg1 0;
  }

  a {
    text-decoration: underline;
  }

}

.Article-container {
  padding: scaleGrid(6) 5% 0 5%;
}

.Article-header,
.Article-section,
.Article-footer {
  padding: scaleGrid(6) 5% 0 5%;
  max-width: 900px;
  margin: 0 auto;;
}

.Article-header {
  padding-top: scaleGrid(7);
  padding-bottom: 0;
}

.Article-footer {
  padding-bottom: scaleGrid(7);
  padding-top: scaleGrid(7);
  margin-top: scaleGrid(4);
  border-top: 1px solid $spot-color;
  max-width: 100%;
}

.Article-section--fullWidth {
  max-width: 100%;
}

.Article-title {
  position: relative;
  padding-bottom: $su-base;
  margin-bottom: $su-lg4;

  &:after {
    content: '';
    display: block;
    height: 2px;
    width: scaleGrid(7);
    background-color: $cu-border;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.Article-image {
  padding-bottom: $su-lg2;

  img {
    cursor: pointer;
  }

  figcaption {
    color: $cu-Paragraph;
    font-size: $tuSize-sm1;
  }

} 

.Article-image--center {
  max-width: 900px;
  margin: 0 auto;
}

.Article-feature {
  padding: $su-lg1;
  margin-bottom: $su-lg4;
}

.figma_badge {
  text-align: center;
  display: block;
  img {
    margin: 0 auto;
    max-width: scaleGrid(30);
  }
}
