@use "../config/sizing";
@use "../config/spacing";
@use "../config/variables";

//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

$spot-color: variables.$color-blue !default;

.Article {
  @include spacing.siteContainer;

  // TEMP
  h4 {
    padding: 16px 0;
  }

}

.Article-header,
.Article-section,
.Article-footer {
  padding: sizing.scaleGrid(6) 5% 0 5%;
  max-width: 900px;
  margin: 0 auto;;
}

.Article-header {
  
}

.Article-sectionTitle {
  padding-bottom: variables.$su-lg2;
}

.Article-sectionSubTitle {
  padding-bottom: variables.$su-base;
  padding-top: variables.$su-lg1;
}

.Article-sectionSubText {
  font-family: variables.$tu-ParagraphFont;
  font-size: variables.$tuSize-sm1;
  text-transform: uppercase;
  color: variables.$cu-border-dark;
  font-weight: 400;

// TEMP
  padding-bottom: variables.$su-lg2 !important;
  padding-top: 0 !important;

}


.Article-image {
  padding-bottom: variables.$su-lg2;

  img {
    cursor: pointer;
  }

  figcaption {
    color: variables.$cu-Paragraph;
    font-size: variables.$tuSize-sm1;
  }

} 

.Article-image--center {
  max-width: 900px;
  margin: 0 auto;
}

.Article-feature {
  padding: variables.$su-lg1;
  margin-bottom: variables.$su-lg4;
}

.figma_badge {
  text-align: center;
  display: block;
  img {
    margin: 0 auto;
    max-width: sizing.scaleGrid(30);
  }
}


.Article-footer {
  padding-bottom: sizing.scaleGrid(7);
  padding-top: sizing.scaleGrid(7);
  margin-top: sizing.scaleGrid(4);
  border-top: 1px solid $spot-color;
  max-width: 100%;
}

.Article-section--fullWidth {
  max-width: 100%;
}