@use "../config/spacing";
@use "../config/variables";

//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : Make Resume-title a modifier of section title

//------------------------------------------------------------//

// * 1. Contents Grouping One


.Resume-experience {
  list-style: none;
  gap: variables.$su-lg2;
}

.Resume-experienceItem {
  position: relative;
  padding: variables.$su-lg2;
  border: variables.$buSize-base solid variables.$cu-border-dark;
}

.Resume-experienceFocus {
  position: relative;
  font-size: variables.$tuSize-lg1;
  z-index: 10;
}

.Resume-experienceYear {
  font-size: variables.$tuSize-lg1;

  @include spacing.max-width('md') {
    font-size: variables.$tuSize-lg2;
  }

  sup {
    font-size: 30%;
    vertical-align: super;
  }

}

.Resume-experienceYearText {
  position: relative;
  color: variables.$color-blue;
  font-size: variables.$tuSize-lg2;
  z-index: 10;

}

.Resume-experienceYearText,
.Resume-experienceFocus {

  @include spacing.max-width('md') {
    font-size: variables.$font-Size;
  }

}