//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : Make Resume-title a modifier of section title

//------------------------------------------------------------//

// * 1. Contents Grouping One

.ExperienceItem {
  padding-bottom: $su-lg4;
}

.ExperienceItem-content {

  padding-right: $su-lg2/2;

}

.ExperienceItem-description {
  padding-left: $su-lg2/2;
}

.ExperienceItem-role {

  font-size: $tuSize-lg1;
  padding-bottom: $su-lg1;

}

.ExperienceItem-details {
  color: $color-white;
  font-size: $tuSize-sm1;
  padding-bottom: $su-lg3;
}

.ExperienceItem-detailsDivider {
  padding: 0 $su-sm1;
  color: $color-blue;
}

.ExperienceItem-detailsDuration {
  color: $color-blue;
}

// TODO: when refactoring move this to a base component

.Download-link {
  border: 2px solid $color-blue;
  padding: $su-lg1;
  display: inline-block;

  .Icon {
    padding-right: $su-lg1;
  }

  &:hover, &:active {
    background: $color-blue;
    transition: all .25s ease-in-out;
    &, .Icon {
      color: $cu-Background-dark;
    }
  }

}