@use "sass:math";
@use "../config/spacing";
@use "../config/variables";

//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : Make Resume-title a modifier of section title

//------------------------------------------------------------//

// * 1. Contents Grouping One

.ExperienceItem {
  padding-bottom: variables.$su-lg4;
  &:last-child {
    padding-bottom: 0;
  }
}

.ExperienceItem-content {
  padding-right: math.div(variables.$su-lg2, 2);

}

.ExperienceItem-description {
  padding-left: math.div(variables.$su-lg2, 2);
  @include spacing.max-width('sm') {
    padding-left: 0;
  }
}

.ExperienceItem-role {

  font-size: variables.$tuSize-lg1;
  padding-bottom: variables.$su-lg1;

}

.ExperienceItem-details {
  color: variables.$color-white;
  font-size: variables.$tuSize-base;
  padding-bottom: variables.$su-lg3;
  @include spacing.max-width('sm') {
    padding-bottom: variables.$su-lg1;
  }
}

.ExperienceItem-detailsDivider {
  padding: 0 variables.$su-sm1;
  color: variables.$color-blue;
}

.ExperienceItem-detailsDuration {
  color: variables.$color-blue;
}

// TODO: when refactoring move this to a base component

.Download-link {
  border: 2px solid variables.$color-blue;
  padding: variables.$su-lg1;
  display: inline-block;

  .Icon {
    padding-right: variables.$su-lg1;
  }

  &:hover, &:active {
    background: variables.$color-blue;
    transition: all .25s ease-in-out;
    &, .Icon {
      color: variables.$cu-Background-dark;
    }
  }

}