//------------------------------------------------------------//

// * Form Group
// * 1. Settings
// * 2. Base styles
// * 3. States
// * 4. Modifiers

//------------------------------------------------------------//

// * 1. Form Group Settings

$FormGroup-font-size: $tuSize-base;

// * 2. Form Group Base Styles

.FormGroup {
  margin-bottom: $su-lg1;
  position: relative;
}

.FormGroup-label {
  display: block;
  padding-bottom: $su-sm1;
  font-size: $FormGroup-font-size;
  font-weight: $tu-Parag$tu-ParagraphWeight-smBoldraphWeight;
}

.FormGroup-feedback {
  color: $color-blue;
  font-size: $FormGroup-font-size;
  padding-top: $su-sm1;
  margin-bottom: 0;
}

.FormGroup-message {
  color: $cu-Paragraph;
  font-size: $FormGroup-font-size;
  padding-top: $su-sm1;
  margin-bottom: 0;
}

.FormGroup-validation {
  display: none;
  color: $color-blue;
  position: absolute;
  top: 0;
  left: 0;
}

// * 3. Form Group States

.FormGroup.is-notValid {
  .Input, .Checkbox-label:before, .SelectBox-options {
    border-color: $color-blue;
  }
}

.FormGroup.is-valid {
  .FormGroup-validation {
    display: block;
  }

  .FormGroup-label {
    padding-left: $su-lg1;
  }
}
