@use "../config/variables";

//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

ul, ol {
  padding-bottom: variables.$su-lg1;

  &:last-child {
    padding-bottom: 0;
  }

}

ul, ol {
  padding-left: variables.$su-lg1;
}

li {
  padding: variables.$su-base 0;
}


.nostyle {
  list-style: none;
  padding: 0;
}

.List--dotSeperated {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    padding-right: variables.$su-lg1;

    &:before {
      content: '•';
      display: inline-block;
      color: variables.$cu-Paragraph;
      font-size: variables.$tuSize-sm1;
      padding-right: variables.$su-lg1;
    }

    &:first-child:before {
      content: '';
      display: none;
    }

  }

}
