//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.PortfolioItem {
  padding-bottom: $su-medium * 2;

  @include min-width('sm') {

    &:nth-child(2n + 1) {
      padding-right: $su-medium;
    }

    &:nth-child(2n) {
      padding-left: $su-medium;
    }

  }

  @include max-width('sm') {
    padding-bottom: $su-large;
  }

}

.PortfolioItem-container {
  padding: $su-large;
  border: 1px solid $cu-divider;
  box-shadow: $box-shadow-small;
  display: block;

  &:hover {
    box-shadow: $box-shadow-medium;
    transition: box-shadow $duration-short ease-in-out;
  }
}

.PortfolioItem-image {
  border: 1px solid $cu-divider--light;
}

.PortfolioItem-title,
.PortfolioItem-collection {
  display: block;
}

.PortfolioItem-title {
  font-weight: bolder;
  color: $base-font-color;
  margin-top: $su-small;
}

.PortfolioItem-link {
  display: inline-block;
  color: $cu-primary;
  position: relative;
  padding-bottom: $su-small;

  @include max-width('sm') {
    margin-top: $su-small;
  }

  &:before { 
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $cu-primary--light;
    bottom: $su-small - 1px;
  }
}
