//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.PortfolioItem {
  margin-bottom: $su-lg3;
  height: $su-lg5 * 5;
  border: 1px solid $cu-border;

  &:hover {
    transition: box-shadow $duration-short ease-in-out;
  }

}

.PortfolioItem-contentContainer {
  flex: 0 0 400px !important;
}

.PortfolioItem-imageContainer {
  height: 100%;
  overflow: hidden;
}

.PortfolioItem-image {
  border-bottom: 1px solid $cu-border;
}

.PortfolioItem-content {
  padding: $su-lg1;
}

.PortfolioItem-title,
.PortfolioItem-collection {
  display: block;
}

.PortfolioItem-title {
  font-weight: bolder;
  color: $cu-Paragraph;
}

.PortfolioItem-link {
  display: inline-block;
  color: $color-blue;
  position: relative;

  @include max-width('sm') {
    margin-top: $su-base;
  }

  &:before { 
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $color-blue;
    bottom: $su-base - 1px;
  }
}
