//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.PortfolioItem {
  margin-bottom: $su-lg3;
  height: $su-lg5 * 4;
  border: 1px solid $color-blue-d1;

  &:hover {
    transition: box-shadow $duration-short ease-in-out;
  }

}

.PortfolioItem-contentContainer {
  flex: 0 0 400px !important;
  padding: $su-lg3;
  background: $color-black;

  .List--dotSeperated {
    padding-top: $su-lg3;
    li {
      font-size: $tuSize-sm1;
      padding-top: $su-sm2;
      padding-bottom: $su-sm2;
    }
    li:before {
      font-size: $tuSize-sm2;
    }
    li, li:before {
      color: #fff;
      padding-right: 8px;
      float: left;
    }
  }

}

.PortfolioItem-imageContainer {
  height: 100%;
  overflow: hidden;
}

.PortfolioItem-image {
  border-bottom: 1px solid $cu-border;
}

.PortfolioItem-content {
  padding: $su-lg1;
}

.PortfolioItem-title,
.PortfolioItem-collection {
  display: block;
}

.PortfolioItem-title {
  font-weight: bolder;
  color: $cu-Paragraph;
  font-family: $tu-HeadingFont;
  font-size: $tuSize-lg1;
  padding-bottom: $su-lg3;
}

.PortfolioItem-link {
  display: inline-block;
  color: $color-blue;
  position: relative;

  @include max-width('sm') {
    margin-top: $su-base;
  }

  &:before { 
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $color-blue;
    bottom: $su-base - 1px;
  }
}
