@use "../config/sizing";
@use "../config/spacing";
@use "../config/variables";

//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.Section {

  border-top: variables.$buSize-base solid variables.$cu-border-dark;
  padding: 0 variables.$su-lg1;
  position: relative;

  @include spacing.max-width('sm') {
    padding: 0 variables.$su-lg1;
  }
  
  &.Section--grey {
    background-color: variables.$cu-Background-grey;
  }

  &.Section--dark {
    background-color: variables.$cu-Background-dark;
    color: variables.$color-white;

    h1, h2, h3, h4, h6, p, li {
      color: variables.$color-white;
    }

  }

  &.Section--illustrated {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    background-image: url('/img/hero.svg');
    padding-bottom: sizing.scaleGrid(25);
  }

}

.Section-content {
  @include spacing.siteContainer;
  padding: variables.$su-lg5 0;

  @include spacing.max-width('sm') {
    padding: variables.$su-lg3 0;
  }


}

.Section-subSection {
 padding-bottom: variables.$su-lg4;
}

.Section-subTitle {
  font-family: variables.$tu-ParagraphFont;
  font-size: variables.$tuSize-base;
  text-transform: uppercase;
  color: variables.$color-blue;
  padding-bottom: variables.$su-lg3;
}
