//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.Section {

  border-top: $buSize-lg1 solid $cu-border;
  padding: $su-lg4 $su-lg1;

  @include max-width('sm') {
    padding: $su-lg3 $su-lg1;
  }
  
  &.Section--grey {
    background-color: $cu-Background-grey;
  }

  &.Section--dark {
    background-color: $cu-Background-dark;
    color: $color-white;

    h1, h2, h3, h4, h6, p {
      color: $color-white;
    }

  }

}

.Section-content {
  @include siteContainer;
}

.Section-subSection {
 padding: $su-lg3 0;
}

.Section-subTitle {
  
}