@use "../config/sizing";
@use "../config/variables";

//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.splide__arrows {
    display: none;
}

button.splide__pagination__page {
    background: variables.$color-blue;
    height: variables.$su-base;
    width: variables.$su-base;
    opacity: 0.5;

    &.is-active {
        background: variables.$color-blue;
        opacity: 1;
        transform: scale(1.25);
    }
}

ul.splide__pagination {
    bottom: variables.$su-base;
}

.Slider--slide,
.splide__slide {
    padding-bottom: 0;
}

.splide {
   padding-bottom: variables.$su-lg2;
   padding-bottom: variables.$su-lg4;
}

div.splide__progress__bar {
    height: variables.$su-base;
    background: variables.$color-blue;
}

div.splide__progress {
    margin-top: -8px;
    z-index: 100;
    position: relative;
    background: rgba(variables.$cu-border, 0.24);
}

.splide__toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: sizing.scaleGrid(10);
    width: sizing.scaleGrid(10);
}

.splide__toggle {
    background: transparent;
    border: none;
    color: variables.$color-blue;
    z-index: -100;
    opacity: 0;
    transition: all .5s ease;
    display: none; // temp cut
    
    &, svg {
        height: sizing.scaleGrid(10);
        width: sizing.scaleGrid(10);
        fill: currentColor;
    }

}

.splide:hover .splide__toggle {
    z-index: 100;
    opacity: 1;
}