//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.u-colorPrimary {
  color: $color-blue !important;
}

.u-colorInfo {
  color: $cu-Paragraph !important;
}

.u-colorWhite {
  color: $color-white !important;
}