//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

@use "../config/index.scss";
@use "../config/variables";

.u-textFont-Heading {
  font-family: variables.$tu-HeadingFont;
}

.u-textFont-Body {
  font-family: variables.$tu-ParagraphFont
}

.u-textSize-Sm2 {
  font-size: variables.$tuSize-sm2;
}

.u-textSize-Sm1 {
  font-size: variables.$tuSize-sm1;
}

.u-textSize-base {
  font-size: variables.$tuSize-base;
}

.u-textSize-Lg1 {
  font-size: variables.$tuSize-lg1;
}

.u-textSize-Lg2 {
  font-size: variables.$tuSize-lg2;
}

.u-textSize-Lg3 {
  font-size: variables.$tuSize-lg3;
}

.u-textSize-Lg4 {
  font-size: variables.$tuSize-lg4;
}

.u-textSize-Lg5 {
  font-size: variables.$tuSize-lg5;
}

@if variables.$responsive == true {
  @each $name, $value in variables.$breakpoints {
    @media (min-width: $value) {

      .u-#{$name}-textSize-Sm2 {
        font-size: variables.$tuSize-sm2;
      }
      
      .u-#{$name}-textSize-Sm1 {
        font-size: variables.$tuSize-sm1;
      }
      
      .u-#{$name}-textSize-base {
        font-size: variables.$tuSize-base;
      }
      
      .u-#{$name}-textSize-Lg1 {
        font-size: variables.$tuSize-lg1;
      }
      
      .u-#{$name}-textSize-Lg2 {
        font-size: variables.$tuSize-lg2;
      }
      
      .u-#{$name}-textSize-Lg3 {
        font-size: variables.$tuSize-lg3;
      }
      
      .u-#{$name}-textSize-Lg4 {
        font-size: variables.$tuSize-lg4;
      }
      
      .u-#{$name}-textSize-Lg5 {
        font-size: variables.$tuSize-lg5;
      }

    }
  }
}

/**
 * Horizontal text alignment
 */

.u-textCenter {
  text-align: center !important;
}

.u-textLeft {
  text-align: left !important;
}

.u-textRight {
  text-align: right !important;
}

/**
 * Prevent whitespace wrapping
 */

.u-textNoWrap {
  white-space: nowrap !important;
}

@if variables.$responsive == true {
  @each $name, $value in variables.$breakpoints {
    @media (min-width: $value) {
      .u-#{$name}-textCenter {
        text-align: center !important;
      }

      .u-#{$name}-textLeft {
        text-align: left !important;
      }

      .u-#{$name}-textRight {
        text-align: right !important;
      }
    }
  }
}
