@use "../config/spacing";
@use "../config/variables";

//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : Make About-title a modifier of section title

//------------------------------------------------------------//

// * 1. Contents Grouping One

.About-introText h1 {
  margin-left: 0-(variables.$su-lg3);
}

.About-introPhoto {

  @include spacing.min-width('md') {
    max-width: 440px;
    &:after {
      content: '';
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      top: -82px;
      left: 50%;
      background: variables.$cu-Background-dark;
      border-bottom: 1px solid variables.$cu-border;
      z-index: -1;
    }
    &:before {
      content: '';
      display: block;
      width: 2px;
      height: calc(100% + 82px);
      top: -82px;
      left: 50%;
      position: absolute;
      background: variables.$cu-border;
    }
    .splide__pagination {
      display: none;
    }
  }

  @include spacing.max-width('md') {
    display: none;
  }

}

.ProfilePic-image {
  border: 1px solid variables.$cu-border;
}

.About-introPhotoSlider.splide {
  padding-bottom: 0;
  margin-left: -16px;
  z-index: 10;
}

.About-image {

  img {
    float: left;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.ContactList li {
  padding-bottom: 16px;
}

.ContactList-link {
  color: variables.$color-blue-d1;

  .Icon {
    font-size: variables.$su-lg3;
    color: variables.$color-blue;
    width: variables.$su-lg3;
    height: variables.$su-lg3;
    margin-right: 8px;

    @include spacing.max-width('sm') {
      font-size: variables.$su-lg2;
      width: variables.$su-lg2;
      height: variables.$su-lg2;
      margin-right: 4px;
    }

  }

  @include spacing.max-width('sm') {
    font-size: variables.$tuSize-sm1;
  }

}

#Gallery::before {
  content: '';
  height: 100%;
  width: 1px;
  background-color: variables.$cu-border;
  position: absolute;
  top: 0;
  left: 50%;

  @include spacing.max-width('md') {
    display: none;
  }

}

.GalleryItem {
  z-index: 10;
}