//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : Make About-title a modifier of section title

//------------------------------------------------------------//

// * 1. Contents Grouping One

.About.About-introText {

}

.About-introPhoto {
  max-width: 440px;
  &:after {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: -82px;
    left: 50%;
    background: $cu-Background-dark;
    border-bottom: 1px solid $cu-border;
    z-index: -1;
  }
  &:before {
    content: '';
    display: block;
    width: 2px;
    height: calc(100% + 82px);
    top: -82px;
    left: 50%;
    position: absolute;
    background: $cu-border;
  }
  .splide__pagination {
    display: none;
  }
}

.ProfilePic-image {
  border: 1px solid $cu-border;
}

.About-introPhotoSlider.splide {
  padding-bottom: 0;
  margin-left: -16px;
}

.About-image {

  img {
    float: left;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.ContactList li {
  padding-bottom: 16px;
}

.ContactList-link {
  color: $color-blue-d1;

  .Icon {
    font-size: $su-lg3;
    color: $color-blue;
    width: $su-lg3;
    height: $su-lg3;
    margin-right: 8px;

    @include max-width('sm') {
      font-size: 1.5em;
      width: 1.5em;
      height: 1.5em;
    }

  }
}

#Gallery::before {
  content: '';
  height: 100%;
  width: 1px;
  background-color: $cu-border;
  position: absolute;
  top: 0;
  left: 50%;
}

.GalleryItem {
  z-index: 10;
}