@use "../config/spacing";
@use "../config/variables";

//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

#footer {
  position: relative;
  @include spacing.siteContainer;
  background-color: variables.$color-black;
  border-top: 2px solid variables.$cu-border;
  max-width: 100%;

  a {
    color: #fff;
  }

  @include spacing.max-width('sm') {
    padding: variables.$su-lg1 variables.$su-lg2;

    ul {
      padding-left: 0;
    }

  }

  .List--dotSeperated {
    li {
      @include spacing.max-width('sm') {
        display: block;
        &:before {
          display: none;
        }
      }
    }
  }

  .List--dotSeperated + .List--dotSeperated {
    @include spacing.max-width('sm') {
      border-top: 1px solid variables.$cu-border;
      padding-top: variables.$su-base;
    }
  }  

}

.footer-image {
  width: 100%;
  float: left;
}

.copyright {
  display: block;
  padding: variables.$su-lg1;
  padding-bottom: variables.$su-lg4;
  text-align: center;
}
