@use "../config/spacing";
@use "../config/variables";

//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.SiteNav {
  height: variables.$su-lg5;
  width: 100%;

  @include spacing.siteContainer;

  .Grid {
    align-items: center;
    justify-content: center;
  }

  .Grid {
    height: 100%;
  }

}

.SiteNav-title,
.SiteNav-links {
  padding: 0;
}

.SiteNav-title,
.SiteNav-link {
  color: variables.$cu-Paragraph;
}

.SiteNav-title {
  font-size: variables.$tuSize-lg2;
  
  &Text {
    display: none;
  }

}

.SiteNav-links {
  padding-right: variables.$su-lg1;

  &:last-child {
    padding-right: 0;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  &.u-textRight {
    @include spacing.max-width('sm') {
      display: none;
    }
  }

}

.SiteNav-link, {
  font-family: variables.$tu-HeadingFont;
  font-size: variables.$tu-HeadingSize-6;
  margin-left: variables.$su-lg2;
  display: block;

  &:first-child {
    margin-left: 0;
  }

  a {
    color: variables.$cu-Paragraph;
  }

  .Icon {
    font-size: variables.$su-lg3;
    color: variables.$color-blue;
    width: variables.$su-lg3;
    height: variables.$su-lg3;
  } 

  .Icon--logo {
    font-size: variables.$su-lg4;
    width: variables.$su-lg4;
    height: variables.$su-lg4;
  }

}

.SiteNav-link--social {
  margin-left: variables.$su-lg1;
}