//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Intro Text
// * 2. Services Offered
//
// Notes:
// * none yet

// TODO : organize file

//------------------------------------------------------------//

$introPadding: scaleGrid(8);

//#Portfolio, #Experience, #Recomendations {
  //.Section-content {
    //padding-left: scaleGrid(25);
    //border-left: 2px solid $cu-border;
  //}
//}

#Intro {
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  background-image: url('../img/hero.svg');

  .Section-content {
    position: relative;
    padding-top: $introPadding;
    padding-bottom: $introPadding;

    @include max-width('sm') {
      padding-top: $su-lg3;
      padding-bottom: $su-lg3;
    }

  }

  & .Section-container {
    position: relative;
    z-index: 10;
  }

}

#Portfolio {
  border: none;
  border-top: 2px solid $cu-border;
}

// * 1. Intro Text

.IntroTitle {
  font-size: $tuSize-lg4;
  padding-bottom: $su-lg1;
  margin-bottom: $su-lg1;
  position: relative;

  @include max-width('sm') {
    font-size: $tuSize-lg5;
    font-style: normal;
  }

  @include max-width('xs') {
    font-size: $tuSize-lg5;
  }

}

.IntroTitle-primary {
  display: block;
}

.ReferralItem {
  padding-bottom: 40px;
}

.Gallery {
  padding-top: 16px;
}

.GalleryItem {
 padding: 8px;

 img {
  float: left;
 }

}