//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Intro Text
// * 2. Services Offered
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

$introPadding: scaleGrid(8);

#Intro {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
  //background-image: url('../img/trees_bg.jpg');

  .Section-content {
    position: relative;
    padding-top: $introPadding;
    padding-bottom: $introPadding;

    @include max-width('sm') {
      padding-top: $su-lg3;
      padding-bottom: $su-lg3;
    }

  }

  & .Section-container {
    position: relative;
    z-index: 10;
  }

}

// * 1. Intro Text

.IntroTitle {
  font-size: $tuSize-lg4;
  padding-bottom: $su-lg1;
  margin-bottom: $su-lg1;
  position: relative;

  @include max-width('sm') {
    font-size: $tuSize-lg5;
    font-style: normal;
  }

  @include max-width('xs') {
    font-size: $tuSize-lg5;
  }

  &:after {
    //creating the bottom border
    content: '';
    background: $color-blue;
    display: block;
    height: $su-sm2;
    width: 100%;
    position: absolute;
    bottom: 0 - $su-sm2;
    left: 0;  
  }

}

.IntroTitle-primary {
  display: block;
}
