//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : Make Resume-title a modifier of section title

//------------------------------------------------------------//

// * 1. Contents Grouping One

#Resume {
  background-color: #fafafa;
}

.Resume-title {
  margin-bottom: 0;
  padding-bottom: $su-base;
  overflow: hidden;
  position: relative;
  margin-bottom: $su-base;

  @include max-width('sm') {
    font-size: scaleFont($font-Size, 3);
  }

  &:after {
    content: '';
    background-color: $color-blue;
    height: 1px;
    width: 100%;
    display: block;
    top: 60%;
    position: absolute;
  }

  &:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 25%;
    z-index: 10;
    right: 0;
    top: 60%;
    position: absolute;
  }

  &:before {
    right: auto;
    left: scaleGrid(10);
    width: 60%;
    height: 1px;

    @include max-width('sm') {
      left: scaleGrid(7);
    }

  }

}

.Resume-titleText {
  display: inline-block;
  padding: {
    left: 0;
    right: $su-base;
    top: $su-base;
    bottom: $su-base;
  }
  background: $color-white;
  z-index: 10;
  position: relative;
}

.Resume-experience {
  border: $su-lg1 solid $color-blue;
  list-style: none;
  padding: $su-base;
  box-sizing: border-box !important;
}

.Resume-experienceItem {
  position: relative;
  text-align: center;
  padding: scaleGrid(15) $su-base scaleGrid(4) $su-base;
}

.Resume-experienceYear,
.Resume-experienceYearText,
.Resume-experienceFocus {
  font-family: $cu-Heading;
  display: block;
}

.Resume-experienceYear {
  font-size: scaleFont($font-Size, 15);
  font-weight: light;
  color: scaleColor($color-blue, 8);
  font-style: italic;
  position: absolute;
  top: scaleGrid(6);
  line-height: 0;
  left: 0;
  right: 0;
  margin: auto;

  @include max-width('md') {
    font-size: scaleFont($font-Size, 12);
  }

  sup {
    font-size: 30%;
    vertical-align: super;
  }

}

.Resume-experienceYearText {
  position: relative;
  color: $color-blue;
  font-size: scaleFont($font-Size, 2);
  z-index: 10;

}

.Resume-experienceFocus {
  position: relative;
  border-top: 1px solid $cu-border;
  padding-top: $su-base;
  margin-top: $su-base;
  font-size: scaleFont($font-Size, 2);
  z-index: 10;
}

.Resume-experienceYearText,
.Resume-experienceFocus {

  @include max-width('md') {
    font-size: $font-Size;
  }

}

.Resume-skills {
  background: #fafafa;
  padding: $su-lg1;

  .Grid-cell {
    padding: 0 $su-lg1;
  }

  h3 {
    border-bottom: 1px solid $color-blue;
  }

  ul {
    padding: $su-lg1 0 0 0;
    list-style: none;
  }

}

.ExperienceItem {
  padding-bottom: $su-lg3;
  max-width: 900px;
}

.ExperienceItem-title {

  @include min-width('sm') {
    flex-basis: auto;
    width: scaleGrid(41);
  }

  @include max-width('sm') {
    padding-bottom: $su-lg3;
  }


}

.ExperienceItem-description {
  @include min-width('sm') {
    flex: 1 1 0%;
    flex-basis: 0%;
    flex-basis: 0%;
  }
}

.ExperienceItem-role,
.ExperienceItem-company,
.ExperienceItem-duration,
.ExperienceItem-location {
  padding-bottom: $su-sm1;
  padding-top: 0;
}

.ExperienceItem-duration,
.ExperienceItem-location {
  color: $cu-Paragraph;
}

.ExperienceItem-location {
  font-style: italic;
}

.Recomendations {
  background-color: #fafafa;
  max-width: 100%;
  padding-top: scaleGrid(10);
  padding-bottom: scaleGrid(10);
  margin: scaleGrid(10) 5%;
}

// TODO: when refactoring move this to a base component

.Download-link {
  border: 2px solid $color-blue;
  padding: $su-lg1;
  display: inline-block;

  .Icon {
    padding-right: $su-lg1;
  }

  &:hover, &:active {
    background: $color-blue;
    transition: all .25s ease-in-out;
    &, .Icon {
      color: $cu-Background-dark;
    }
  }

}