<nav class="SiteNav">
  <div class="Grid Grid--fit {{title}}">

    <ul class="SiteNav-links Grid-cell u-textLeft">
      <li class="SiteNav-link">
        <h1 class="SiteNav-title u-flexAlignItemsCenter">
          <a href="/" class="Grid-cell">
            <span class="SiteNav-titleImage">
              {{> logo}}
            </span>
            <span class="SiteNav-titleText">
              William Dingwall | Product Design & Identity Design
            </span>
          </a>
        </h1>
      </li>
      <li class="SiteNav-link u-hidden u-sm-inlineBlock">
        <a href="/#Portfolio">Case Studies</a>
      </li>
      <li class="SiteNav-link u-hidden u-sm-inlineBlock">
        <a href="/#Experience">Experience</a>
      </li>
      <li class="SiteNav-link u-hidden u-sm-inlineBlock">
        <a href="/#Recomendations">Referals</a>
      </li>
      <li class="SiteNav-link u-sm-hidden">
        <a href="/#Portfolio">Work</a>
      </li>
      <li class="SiteNav-link">
        <a href="/about">About</a>
      </li>
    </ul>

    <ul class="SiteNav-links Grid-cell u-textRight u-hidden u-md-block">
      {{#each collections.socialMedia}}
        <li class="SiteNav-link SiteNav-link--social">
          <a href="{{this.link}}">
            {{{contents}}}
          </a>
        </li>
      {{/each}}
    </ul>



  </div>
</nav>
