//------------------------------------------------------------//

// * Base Typography
// * 1. Typography Settings
// * 2. Content
// * 3. Headings

// Notes:
// * none

// TODO : none

//------------------------------------------------------------//

// * 1. Base

body {
  color: $cu-Paragraph;
  font-family: $tu-ParagraphFont;
  font-size: $tuSize-base;
  font-weight: $tu-ParagraphWeight;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: $font-LineHeight;
  letter-spacing: $font-LetterSpace;
}

// * 2. Paragraph & Sub Text

p, li, dl, blockquote {
  padding-bottom: $su-lg1;
  line-height: $font-LineHeight;

  b,
  strong {
    font-weight: $tu-ParagraphWeight-Bold;
  }

  i {
    font-style: italic;
    font-weight: $tu-ParagraphWeight-smBold;
  }

}

small {
  color: $cu-Paragraph;
  font-size: $tuSize-sm1;
  line-height: $font-LineHeight;
  letter-spacing: $font-LetterSpace;
}

a {
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  &:active,
  &:hover {
    outline: 0;
    color: $color-blue;
    text-decoration: underline;
  }
}

// * 3. Headings & Sub Headings

h1, h2, h3, h4, h5, h6 {
  color: $cu-Heading;
  font-family: $tu-HeadingFont;
  font-weight: $tu-HeadingWeight;
  line-height: $font-LineHeight;
}

h1 {
  font-size: $tuSize-lg4;
}

h2 {
  font-size: $tuSize-lg3;
}

h3 {
  font-size: $tuSize-lg2;
}

h4 {
  font-size: $tuSize-lg1;
}

h5 {
  font-size: $tuSize-base;
}

h6 {
  font-size: $tuSize-sm1;
}

// * 4. Headings & Sub Headings

blockquote,
.Blockquote {
  font-size: $tu-ParagraphSize-lg;
  border-left: $su-base solid $color-blue;
  padding: $su-lg1;
  margin-bottom: $su-lg1;
  max-width: 900px;
  transform: translate((0-$su-lg2, 0));
}