//------------------------------------------------------------//

// * Base Typography
// * 1. Typography Settings
// * 2. Content
// * 3. Headings

// Notes:
// * none

// TODO : none

//------------------------------------------------------------//

// * 1. Base

body {
  color: $cu-Paragraph;
  font-family: $tu-ParagraphFont;
  font-size: $tuSize-base;
  font-weight: $tu-ParagraphWeight;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: $font-LineHeight;
  letter-spacing: $font-LetterSpace;

}

// * 2. Paragraph & Sub Text

p, li, dl, blockquote {
  padding-bottom: $su-lg1;
  line-height: $font-LineHeight;

  &:last-child {
    padding-bottom: 0;
  }

  b,
  strong {
    font-weight: $tu-ParagraphWeight-Bold;
  }

  i {
    font-style: italic;
    font-weight: $tu-ParagraphWeight-smBold;
  }

}

small {
  color: $cu-Paragraph;
  font-size: $tuSize-sm1;
  line-height: $font-LineHeight;
  letter-spacing: $font-LetterSpace;
}

a {
  cursor: pointer;
  text-decoration: underline;
  background: transparent;
  &:active,
  &:hover {
    outline: 0;
    color: $color-blue;
  }
}

// * 3. Headings & Sub Headings

h1, h2, h3, h4, h5, h6 {
  color: $cu-Heading;
  font-family: $tu-HeadingFont;
  font-weight: $tu-HeadingWeight;
  line-height: $font-LineHeight;
}