@use "../config/variables";

//------------------------------------------------------------//

// * Base Typography
// * 1. Typography Settings
// * 2. Content
// * 3. Headings

// Notes:
// * none

// TODO : none

//------------------------------------------------------------//

// * 1. Base

body {
  color: variables.$cu-Paragraph;
  font-family: variables.$tu-ParagraphFont;
  font-size: variables.$tuSize-base;
  font-weight: variables.$tu-ParagraphWeight;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: variables.$font-LineHeight;
  letter-spacing: variables.$font-LetterSpace;
}

// * 2. Paragraph & Sub Text

p, li, dl, blockquote {
  padding-bottom: variables.$su-lg1;
  line-height: variables.$font-LineHeight;

  b,
  strong {
    font-weight: variables.$tu-ParagraphWeight-Bold;
  }

  i {
    font-style: italic;
    font-weight: variables.$tu-ParagraphWeight-smBold;
  }

}

small {
  color: variables.$cu-Paragraph;
  font-size: variables.$tuSize-sm1;
  line-height: variables.$font-LineHeight;
  letter-spacing: variables.$font-LetterSpace;
}

a {
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  &:active,
  &:hover {
    outline: 0;
    color: variables.$color-blue;
    text-decoration: underline;
  }
}

// * 3. Headings & Sub Headings

h1, h2, h3, h4, h5, h6 {
  color: variables.$cu-Heading;
  font-family: variables.$tu-HeadingFont;
  font-weight: variables.$tu-HeadingWeight;
  line-height: variables.$font-LineHeight;
}

h1 {
  font-size: variables.$tuSize-lg4;
}

h2 {
  font-size: variables.$tuSize-lg3;
}

h3 {
  font-size: variables.$tuSize-lg2;
}

h4 {
  font-size: variables.$tuSize-lg1;
}

h5 {
  font-size: variables.$tuSize-base;
}

h6 {
  font-size: variables.$tuSize-sm1;
}

// * 4. Headings & Sub Headings

blockquote,
.Blockquote {
  font-size: variables.$tu-ParagraphSize-lg;
  border-left: variables.$su-base solid variables.$color-blue;
  padding: variables.$su-lg1;
  margin-bottom: variables.$su-lg1;
  max-width: 900px;
  transform: translate((0-(variables.$su-lg2), 0));
}