@use "sass:color";
@use "sass:math";
@use "helper";

//------------------------------------------------------------//

// * HSB

// Notes:
// * .....

// TODO : ....

//------------------------------------------------------------//

// * 1. HSB color input 

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  } @else {
    $l-hsl: math.div($b-hsb, 2) * (2 - math.div($s-hsb, 100));
    @if ($l-hsl < 50) {
      $s-hsl-denominator: $l-hsl * 2;
    } @else {
      $s-hsl-denominator: 200 - $l-hsl * 2;
    }
    $s-hsl: math.div($b-hsb * $s-hsb, $s-hsl-denominator);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

// * 2. HSB color input 

@function scaleColor($color, $step) {

  // common rules of our color scale
  $tintMax:  10;
  $shadeMax: -4;
  $ratio:   10%;

  // setting the base $color variable as hue
  $color: $color;

  // adds an extra 5% tint after 90% (or six steps)
  @if ($step >= $tintMax) {
    $color: color.mix(white, $color, 95%);
  }

  // mixes the base color in increments of white by 15%
  @else if ($step >= 0 ) and ($step < $tintMax) {
    $color: color.mix(white, $color, ($step * $ratio));
  }

  // mixes the base color in increments of black by 15%
  @else if ($step < 0 ) and ($step >= $shadeMax) {
    $step: helper.convertNegative($step);
    $color: color.mix(black, $color, ($step * $ratio));
  }

  // caps shading to a 2 step limit
  @else if ($step < $shadeMax) {
    $step: helper.convertNegative($shadeMax);
    $color: color.mix(black, $color, ($ratio * $step));
  }

  @return $color

}