@use "sass:math";

//------------------------------------------------------------//

// * Math

// Notes:
// * ...

// TODO : ...

//------------------------------------------------------------//



// * 1. ....

$base-unit: 8px !default;

@function scaleGrid($step) {

  // setting the base $spacing variable as the base unit
  $spacing: $base-unit;

  // Handles lower steps below base unit (2, 4)
  @if ($step < .5) {
    $spacing: math.round($spacing * 0.25);
  }
  @else if ($step >= .5) and ($step < 1) {
    $spacing: math.round($spacing * 0.5);
  }

  // Handles steps equal to or about base unit
  @else {
    $spacing: math.round($spacing * $step);
  }

  @return $spacing;

}