@use "sass:math";
@use "helper";

//------------------------------------------------------------//

// * Font Scaling
// * 1. ....

// Notes:
// * ....

// TODO : ...

//------------------------------------------------------------//

// * 2. Font Scaling Function

$font-ScaleRate:    1.333; 

@function scaleFont($property, $step) {

  $ratio: $font-ScaleRate;

  // handles nagative steps for font scale
  @if ($step < 0) {
    $step: helper.convertNegative($step);
    @for $i from 1 through $step {
      $property: math.div($property, $ratio);
    }
  }

  // handles base & positive steps for font scale
  @else if ($step > 0) {
    @for $i from 1 through $step {
      $property: $property * $ratio;
    }
  }

  // round pixel values to nearest whole number
  @if (math.unit($property) == 'px') {
    $property: math.round($property);
  }

  @return $property;

}