//------------------------------------------------------------//

// * Stencil Config Variables
// * 1. Brand Variables
// * 2. Sizing Utilities
// * 3 Color Utilities
// * 4. Typography
// * 5. Responsive
// * 6. Borders
// * 7. Transitions

// Notes:
// * scaleColor(), scaleFont(), and scaleGrid() functions or
// variable utilities should be used to create consistancy in
// color, typography, and spacing

// TODO : add color variables for other social media platforms
// TODO : look to simplify settings and re-consider themeing

//------------------------------------------------------------//

// * 1. Brand Variables

$color-blue-l2: #F7F9FA;
$color-blue:    #28B1CC;
$color-blue-d1: #006A80;
$color-blue-d2: #1B2426;

$color-black:   #090A0A;
$color-white:   #ffffff;
$color-grey:    #BCC9CC;
$color-grey-d1: #6C7C80;

$font-antonio:   'Antonio', Helvetica, sans-serif; // headings & labels
$font-helvetica: Helvetica, sans-serif; // paragraphs & sub-headings

$baseUnit: 8px;

$font-Size:          20px;
$font-LineHeight:    150%;
$font-LetterSpace: -0.0025em;
$font-ScaleRate:    1.333;

// * 2. Sizing Utilities

$su-sm3:            1px; // 1px
$su-sm2: scaleGrid(.25); // 2px
$su-sm1:  scaleGrid(.5); // 4px
$su-base:  scaleGrid(1); // 8px
$su-lg1:   scaleGrid(2); // 16px
$su-lg2:   scaleGrid(3); // 24px
$su-lg3:   scaleGrid(4); // 32px
$su-lg4:   scaleGrid(8); // 64px
$su-lg5:  scaleGrid(10); // 80px

$tuSize-sm2: scaleFont($font-Size, -2) !default;
$tuSize-sm1: scaleFont($font-Size, -1) !default;
$tuSize-base: scaleFont($font-Size, 0) !default;
$tuSize-lg1:  scaleFont($font-Size, 1) !default;
$tuSize-lg2:  scaleFont($font-Size, 2) !default;
$tuSize-lg3:  scaleFont($font-Size, 3) !default;
$tuSize-lg4:  scaleFont($font-Size, 4) !default;
$tuSize-lg5:  scaleFont($font-Size, 5) !default;

// * 3. Color Utilities

$cu-Background-light: $color-white !default;
$cu-Background-grey:  $color-blue-l2 !default;
$cu-Background-dark:  $color-blue-d2 !default;

$cu-Paragraph:    $color-black !default;
$cu-Heading:      $color-blue-d2 !default;
$cu-SubHeading:   $color-blue-d1 !default;

$cu-border:       $color-blue !default;
$cu-border-dark: $color-blue-d1 !default;

// * 4. Typography

$tu-ParagraphFont: $font-helvetica !default;

$tu-ParagraphSize: $tuSize-base !default;
$tu-ParagraphSize-lg: scaleFont($font-Size, 1) !default;
$tu-ParagraphSize-sm: scaleFont($font-Size, -1) !default;

$tu-ParagraphWeight: 300 !default;
$tu-ParagraphWeight-smBold: 400 !default;
$tu-ParagraphWeight-Bold: 700 !default;
$tu-ParagraphLineHeight: $font-LineHeight !default; 

$tu-HeadingFont:   $font-antonio !default;

$tu-HeadingSize-1: $tuSize-lg5  !default;
$tu-HeadingSize-2: $tuSize-lg4  !default;
$tu-HeadingSize-3: $tuSize-lg3  !default;
$tu-HeadingSize-4: $tuSize-lg2  !default;
$tu-HeadingSize-5: $tuSize-lg1  !default;
$tu-HeadingSize-6: $tuSize-base !default;
$tu-HeadingSize-7: $tuSize-sm1  !default;

$tu-HeadingWeight: 400 !default;
$tu-HeadingLineHeight: scaleFont($font-LineHeight, -1) !default;

// * 5. Responsive



$responsive: false !default;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

$breakpoint-xxs-max: $breakpoint-xs - 1px;
$breakpoint-xs-max: $breakpoint-sm - 1px;
$breakpoint-sm-max: $breakpoint-md - 1px;
$breakpoint-md-max: $breakpoint-lg - 1px;

$breakpoints: (
  'xs':  $breakpoint-xs,
  'sm':  $breakpoint-sm,
  'md':  $breakpoint-md,
  'lg': $breakpoint-lg
);

$max-breakpoints: (
  'xxsMax':  $breakpoint-xxs-max,
  'xsMax':  $breakpoint-xs-max,
  'smMax':  $breakpoint-sm-max,
  'mdMax':  $breakpoint-md-max
);

// * 6. Borders
// * _ no border radius

$buSize-base: $su-sm3 !default; // 1px
$buSize-lg1:  $su-sm2 !default; // 2px
$buSize-lg2:  $su-sm1 !default; // 4px
$buSize-lg3:  $su-sm1 !default; // 4px

// * 7. Transitions

$duration-short: 250ms;
$duration-long: 750ms;