{{> headerHead}}
<body id="{{id}}">
{{> header}}

  <section class="Section u-borderNone">
    <div class="Grid Section-content">
      <div class="About-introText Grid-cell u-md-size1of2 u-padLeftXl u-md-padRightXl">
        <h1>Hi, I'm Bill,</h1>
        <blockquote class="u-textSize-base u-md-textSize-Lg1">
            <p>product designer, researcher, analyst, mentor, artist and outdoorsman.</p>
            <p>I started in graphic design & art, but have always enjoyed designing for human interaction, studying user behavior and solving real world problems, so quickly moved to product and haven't looked back.</p>
            <p>My design process anchors in user journey analysis with a focus on collaboration, design systems, technical understanding and KPIs.</p>
        </blockquote>
      </div>
      <div class="About-introPhoto Grid-cell u-sm-size1of2">    
        <section class="About-introPhotoSlider splide">
          <div class="splide__track">
            <ul class="splide__list">
              {{#each collections.ProfilePic}}
              {{#if featured}}
                {{> profilepic}}
              {{/if}}
            {{/each}}
            </ul>
          </div>
          <div class="splide__progress">
            <div class="splide__progress__bar">
            </div>
          </div>
        </section>
      </div>
      <img src="../img/profile-pic/profile-3grid.png" class="u-md-hidden u-padTopLg" />
    </div>  
  </section>

  <section id="Gallery" class="Section Section--dark">
    <div class="Section-content">
  
      <h2 class="Section-title">
        <span class="Section-titleText">Gallery</span>
      </h2>
  
      <div id="Gallery" class="Gallery Grid">
        {{#each collections.galleryImage}}
          {{#if featured}}
            {{> gallery}}
          {{/if}}
        {{/each}}
      </div>
  
    </div>
  </section>

  <section id="Contact" class="Section Section--illustrated">
    <div class="Section-content">
      <h2 class="Section-title">
        <span class="Section-titleText">Get In Touch</span>
      </h2>
      <p>I’m always happy to Connect</p>
      <ul class="ContactList nostyle">
        {{#each collections.socialMedia}}
          <li>
            <a href="{{this.link}}" class="ContactList-link">
              {{{contents}}} {{{title}}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

    
  </section>

{{> footer}}

</body>
</html>
