{{> headerHead}}
<body id="{{id}}">
{{> header}}

  <header class="Section">
    <div class="Section-content">
      <h1 class="Article-title">{{title}}</h1>
      <div class="Grid">
        <div class="Grid-cell u-sm-size1of2 u-padLeftXl">
          <p>
            product designer, user researcher, mentor, artist and outdoorsman.
            My background is in graphic design & art, but I have a passion for solving human problems in digital spaces, so quickly made the move to product. I approach design with empathy, collaboration, systematic solutions, research driven decisions and an artistic touch. 
          </p>
        </div>
        <div class="Grid-cell u-sm-size1of2">
          <img src="../img/profile-pics/Dingwall-profile-1.jpg" />
        </div>
      </div>  
    </div>
  </header>

  <section id="Gallery" class="Section Section--dark">
    <div class="Section-content">
  
      <h2 class="Section-title">
        <span class="Section-titleText">Gallery</span>
      </h2>
  
      <div id="Gallery" class="Gallery Grid">
        {{#each collections.galleryImage}}
          {{#if featured}}
            {{> gallery}}
          {{/if}}
        {{/each}}
      </div>
  
    </div>
  </section>

  <section class="Section">
    <div class="Section-content">
      <h2 class="Section-title">
        <span class="Section-titleText">Get In Touch</span>
      </h2>
      <p>I’m always happy to Connect</p>
      <ul>
        <li>linkedin.com/in/williamdingwall/</li>
        <li>dribbble/williamdingwall</li>
        <li>github/williamdingwall</li>
        <li>adplist/williamdingwall</li>
      </ul>
    </div>
  </section>

{{> footer}}

</body>
</html>
