{{> headerHead}}
<body id="home">

<header class="Section Section--withBackground" id="Intro">

  {{> headerNav}}

  <div class="Section-content">
    <div class="Section-container">
      <h1 class="IntroTitle">
        <span class="IntroTitle-primary">User Experience</span>
        <span class="IntroTitle-secondary" id="TypeAnimation">
          <i>&</i> Interface Designer
        </span>
      </h1>
      <p class="IntroText">Hi, I’m Bill. Product designer & outdoor enthusiest</p>
    </div>
  </div>

</header>

<section id="Portfolio" class="Section">
  <div class="Section-content">
    <div class="Section-container">

      <h2 class="Section-title">
        <span class="Section-titleText">Portfolio</span>
      </h2>

      <div id="Work" class="Portfolio Grid">
        {{#each collections.portfolioWork}}
          {{#if featured}}
            {{> feature}}
          {{/if}}
        {{/each}}
      </div>

    </div>
  </div>
</section>

{{> footer}}

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<script>
  var typed = new Typed('#TypeAnimation', {
    strings: [
      'Research <i>&amp;</i> Analysis',
      '<i>&amp;</i> Graphic Designer',
      '<i>&amp;</i> Product Manager', 
      '<i>&amp;</i> Systems Designer',
      '<i>&amp;</i> Interface Designer',
    ],
    typeSpeed: 25,
    startDelay: 3000,
    backDelay: 3000,
    fadeOut: true,
    fadeOutDelay: 500,
  });
</script>

</body>
</html>
