{{> headerHead}}
<body id="home">

<header class="Section Section--withBackground" id="Intro">

  {{> headerNav}}

  <div class="Section-content">
    <div class="Section-container">
      <h1 class="IntroTitle">
        <span class="IntroTitle-primary">Data Driven Product</span>
        <span class="IntroTitle-secondary">
          Designer <i>&</i> Researcher
        </span>
      </h1>
    </div>
  </div>

</header>

<section id="Portfolio" class="Section">
  <div class="Section-content">
    <div class="Section-container">

      <h2 class="Section-title">
        <span class="Section-titleText">Portfolio</span>
      </h2>

      <div id="Work" class="Portfolio Grid">
        {{#each collections.portfolioWork}}
          {{#if featured}}
            {{> feature}}
          {{/if}}
        {{/each}}
      </div>

    </div>
  </div>
</section>

{{> footer}}

</body>
</html>
